.message {
   
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.adminUserMessageCard {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}