.message {
    display: flex;
    justify-content: space-between;
}

.serviceList  {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.userSubscribedServices {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.userSubscribedEvents {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.service {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}