.news {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: #379683;   
    color: white;

}


.newsButton{
     margin: .5em;
    border-top: 1px solid #96d1f8;
    background: #379683;
    background: -webkit-gradient(linear, left top, left bottom, from(#05386b), to(#379683));
    background: -webkit-linear-gradient(top, #05386b, #379683);
    background: -moz-linear-gradient(top, #05386b, #379683);
    background: -ms-linear-gradient(top, #05386b, #379683);
    background: -o-linear-gradient(top, #05386b, #379683);
    padding: 7.5px 15px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .newsButton:hover {
    border-top-color: #05386b;
    background: #05386b;
    color: #ccc;
    }
 .newsButton:active {
    border-top-color: #05386b;
    background: #05386b;
    }

.form-group {
    color: white;
    border-radius: .5em;
    background-color: #379683; 
}
.newsTitle {
    font-weight: 800;
    color:#05386B;
}