.adminUserProfile {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 2px solid #05386B;
    border-radius: 1em;
}

.adminUserServices {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 2px solid #05386B;
    border-radius: 1em;
}
.adminUserMessages {
   flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 2px solid #05386B;
    border-radius: 1em;
}