
.adminMessagesReceived {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.adminMessagesSent {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.adminMessagesSentCard {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.adminMessagesReceivedCard {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}